@import './base.css';

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}


.fix-form-inline .el-input {
    --el-input-width: 220px;
}

.fix-form-inline .el-select {
    --el-select-width: 220px;
}